*{
    margin: 0;
    padding: 0;
    font-family: 'Poppins', sans-serif;
}

.header{
    background: linear-gradient(rgba(4,9,30,0.7),rgba(4,9,30,0.7)),url("https://images.unsplash.com/photo-1655434067144-b962fd5fc053?ixlib=rb-1.2.1&ixid=MnwxMjA3fDB8MHxwaG90by1wYWdlfHx8fGVufDB8fHx8&auto=format&fit=crop&w=774&q=80");
    height: 100vh;
    background-size: cover;
    background-position: center;
    position: relative;
}

.navmenu{
    display: flex;
    padding: 20px;
    justify-content: space-around;
}
.logo{
    color: rgb(125, 184, 17);
    font-size: 30px;
    text-shadow: 2px 1px rgb(31, 170, 38);
}
ul{
    display:flex;
    width: 40%;
    justify-content: space-between;
    list-style: none;
    align-items: center;
}
ul li a{
    text-decoration: none;
    color: bisque;
    font-weight: 600;
    cursor: pointer;
    transition: 0.5s;
}

ul li a:hover{
    color: orange;
}
ul li a::after{
    content: "";
    width: 0;
    height: 2px;
    background: rgb(76, 177, 9);
    display: block;
    margin: auto;
    transition: 1s;
}
ul li a:hover::after{
    width: 100%;
}
/*  text box  */
.text-box{
    color: bisque;
    max-width: 300px;
    border-bottom: 2px solid white;
    margin-left: 200px;
    margin-top: 50px;
    display: block;
}
.text-box h1{
    font-size: 50px;
}

/* button */
.button{
    border: 2px solid white;
    background-color: orange;
    border-radius: 20px;
    display: inline-block;
    position: absolute;
    left: 200px;
    top: 400px;
    padding: 10px;
    transition: 0.5s;
    cursor: pointer;
}
.button:hover{
    background-color: rgb(93, 129, 27);
}
@media(max-width:600px){
    ul li a{
        display: none;
    }
    .text-box{
        
    }
}

/* ABOUT */
.about{
    width: 100%;
    margin: 80px auto;
    text-align: center;
    position: relative;
}
.colum{
    display: flex;
    margin: 20px;
    justify-content: space-between;
    color: beige;
    padding-top: 50px;
}
.boxabout{
    background-color: rgb(55, 24, 167);
    background-size: cover;
    border: 3px solid rgb(55, 24, 167);
    width: 30%;
    height: 220px;
    padding: 10px;
    box-sizing: border-box;
    display: block;
    border-radius: 20px;
}
.boxabout p{
    padding-top: 40px;
}
